.btn-group button {
    background-color: rgb(226, 83, 31);
    border: none; /* Green border */
    color: white; /* White text */
   /* height: 100%;
    width: 200px;*/
    padding: 24px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-size: 32px;
}
/* THE MAINCONTAINER HOLDS EVERYTHING */
.main-container {
    position: absolute;
    width: 250px;
    height: 320px;
    background:transparent;
    
    transform: translate(-50%, -50%);
}
.Lock{
    top: 290px;
    left:310px;
    width:640px;
    height:640px;
    
}
.light{
    top: 180px;
    left: 650px;
    width: 300px;
}

.fan{
    top: 200px;
    left: 1000px;
}

.cooler{
    top: 500px;
    left: 690px;
}

.music{
    width:220px;
    top: 500px;
    left:995px;
    
}
.date{
    top: 500px;
    left:225px;
    
}

.musicapp{
    top: 340px;
    left:1360px;
    width: 400px;
    height: 700px;
}
/* THE CARD HOLDS THE FRONT AND BACK FACES */

.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1.0s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */

.thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: darkgray;
    box-shadow: green;
    text-shadow: blue;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */

.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: dimgrey; 
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */

.thefront h1,
.theback h1 {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.thefront p,
.theback p {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
.fL{
    background-color: transparent;
}

.fF{
    background-color:transparent;
}

.fM{
    background-color: transparent;
    background-image: url(headphones.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.fLO{background-color: transparent;  
}

.fC{background-color: transparent;
    background-image: url(coolerf.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
    
}

.fMA{background-color: transparent;    
}

.slidecontainer {
    top:60px;
    position: absolute;
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    top: 50px;
    background: rgb(2, 8, 29); 
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: 8px;
}
body, input {
	line-height: 1.5;
}
body {
	background: #bbb;
}
input {
	display: block;
	margin-bottom: 1.5em;
}
main {
	padding: 4em 14em 0 0em;
	text-align: center;	
}
.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	font-size: 5em;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css);

// Mixins
@mixin size($point) {
	@if $point == small {
		@media screen and (min-width: 500px) {
			@content;
		}
	}
	@if $point == large {
		@media screen and (min-width: 880px) {
			@content;
		}
	}
}

// Resets
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	padding-top: 80px;
	color: #fff;
	background: #333;
}

// Globals
.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

.center {
	justify-content: center;
}

.column-center {
	align-items: center;
}

.split {
	justify-content: space-between;
}

.split-center {
	justify-content: space-around;
}

// Animations
@keyframes fadeOne {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeTwo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}




.round-middle{
    position:absolute;
    top:100px; left:100px;
    width:50px; height:50px;
    border:4px solid #fff;
    border-radius:50%;
    background:blue;
}
 

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;


}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');