@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Istok+Web:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html,body{
	background: teal;
}
.calendar{
	font-family: "Istok Web",sans-serif;
	width: 200px;
	height: 200px;
	margin: 60px auto;
	background: white;
	box-shadow: 0px 5px 5px #222,-5px 7px 0px 3px mix(black,#8F846D,20),-12px 13px 2px rgba(0,0,0,0.2);
	position: relative;
	border-radius: 1px;
	@include transform(rotate(-20deg));
	&:before{
		content:'';
		position: absolute;
		border-left: 200px solid transparent;
		border-bottom: 30px solid rgba(0,0,0,0.1);
		bottom: 0px;
	}
}
.month{
	width: 100%;
	background: linear-gradient(left, desaturate(mix(black,red,20),40),mix(white,red,40) 75%);
	background: -webkit-linear-gradient(left, desaturate(mix(black,red,20),40),mix(white,red,40) 75%);
	background: -moz-linear-gradient(left, desaturate(mix(black,red,20),40),mix(white,red,40) 75%);
	height: 40px;
	color: white;
	box-shadow: 0px 5px 5px #ddd;
	position:relative;
	&:before{
		content:'';
		position: absolute;
		width: 10px;
		height: 10px;
		left: 60px;
		top: 5px;
		border-radius: 50%;
		background: mix(black,red,70);
		box-shadow: 60px 0px 0px mix(black,red,70);
	}
	&:after{
		content:'';
		position: absolute;
		width: 7px;
		height: 20px;
		background: #555;
		border-radius: 20% 20% 0 0;
		left: 62px;
		top: -12px;
		box-shadow: 0px -2px 0px #777,-1px 0px 2px #777,0px 3px 0px mix(black,red,70),60px 0px 0px #555,60px -2px 0px #777;
	}
	& .month-name{
		padding-left: 10px;
		font-size: 20px;
		letter-spacing:2px;
		position: absolute;
		bottom: 0;
		text-transform: uppercase;
	}
}
.number{
text-align:center;
	margin-top: -25px;
	font-size: 150px;
	color:#2d2d2d;
	font-weight: 700;
}

.two{
	width: 150px;
	height: 150px;
	background: #222;
	margin: 100px auto;
	position: relative;
	overflow:hidden;
	border-radius: 10px;
}
.caltwo{
	width: 200px;
	margin: 100px auto 0 auto;
	background: #222;
	text-align:center;
	color:#eaeaea;
	position: relative;
	font-family: "Lato",sans-serif;
	text-transform: uppercase;
	padding: 10px 0;
	box-shadow: 2px 5px 2px rgba(black,0.2);
}
.daytwo{
	font-size: 25px;
	letter-spacing: 7px;
	font-weight: 300;
	margin-bottom: -2px;
}
.monthtwo{
	font-size: 16px;
	font-weight: 400;
	color: mix(black,red,20);
	letter-spacing: 5px;
	word-spacing: 5px;
}
.clock{
	width: 150px;
	height: 30px;
	background: #eaeaea;
	margin: 0 auto;
	line-height: 30px;
	text-align:center;
	box-shadow: 5px 5px 2px rgba(black,0.2);
}
.time{
	display:inline-block;
	margin: 0;
	padding: 0;
	margin-right: -4px;
	font-family: "Lato",sans-serif;
	font-weight: 300;
	color: #666;
	letter-spacing: 5px;
}
.meter{
	width: 300px;
	position: relative;
	margin: 80px auto;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(white,0.2);
	&:before{
		content:'';
		position: absolute;
		width: 1px;
		height: 10px;
		left:150px;
		top: 0px;
		background: #aaa;
	}
	&:after{
		content:"Visual Clock";
		position: absolute;
		top: -20px;
		font-family: "Lato",sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		opacity: 0.3;
		font-size: 12px;
		letter-spacing: 5px;
		color: white;
	}
}
.timer{
	margin: 5px 0;
}

.hours{
	height: 10px;
	background: #222;
	border-bottom: 1px solid #333;
}
.minutes{
	height: 5px;
	width: 1px;
	background: #eaeaea;
	border-bottom: 1px solid #333;
	&:before{
		position: absolute;
		content:'';
		left: 150px;
		width: 1px;
		height: 5px;
		background: #333;
	}
}
.seconds{
	height: 2px;
	width: 1px;
	background: mix(black,red,40);
}